<div class="container border rounded">
    <h2 class="text-center">Databases</h2>

  <div style="padding: 3em 3em">
    <mat-accordion [multi]="true">

      <mat-expansion-panel [expanded]="false" hideToggle="false" [disabled]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>MySql</mat-panel-title>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam quos porro deserunt ipsa exercitationem itaque ex reiciendis assumenda illo debitis?</p>
        <!-- <mat-action-row>
        </mat-action-row> -->
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="false" hideToggle="false" [disabled]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>Oracle</mat-panel-title>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam quos porro deserunt ipsa exercitationem itaque ex reiciendis assumenda illo debitis?</p>
        <!-- <mat-action-row>
        </mat-action-row> -->
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="false" hideToggle="false" [disabled]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>Postgres</mat-panel-title>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam quos porro deserunt ipsa exercitationem itaque ex reiciendis assumenda illo debitis?</p>
        <!-- <mat-action-row>
        </mat-action-row> -->
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="false" hideToggle="false" [disabled]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>MSSql</mat-panel-title>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam quos porro deserunt ipsa exercitationem itaque ex reiciendis assumenda illo debitis?</p>
        <!-- <mat-action-row>
        </mat-action-row> -->
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="false" hideToggle="false" [disabled]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>MongoDB</mat-panel-title>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam quos porro deserunt ipsa exercitationem itaque ex reiciendis assumenda illo debitis?</p> -->
        <!-- <mat-action-row>
        </mat-action-row> -->
        <ng-template matExpansionPanelContent>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam quos porro deserunt ipsa exercitationem itaque ex reiciendis assumenda illo debitis?</p>
          </ng-template>
      </mat-expansion-panel>
 
    </mat-accordion>
  </div>
</div>
